*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



h1{
  color:black;
  text-align: center;
  font-weight: bold;
  
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;

}

header{
  text-align: center;
}

#photo{
  width: 20vw;
  height: auto;
}

.subtitle{
  color: rgb(151 156 165 / 0.89);
  text-transform: uppercase;
}

footer p {
  text-align: right;
  font-style: italic;

}

nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

nav > ul > li{
  background-color: gainsboro;
  margin: 3%;
  padding: 3%;
  border-radius: 10%;
}

a{
  color: black;

}

section {
  border: 1pt solid gray;
  margin: 10px;
  padding: 1px 10px;
  line-height: 1.2;

}

section > form {
  display: grid;
  grid-template-columns: 2fr;
  row-gap: 0.4rem;
  column-gap: 1rem;
}

section > form > input{
  padding: 1px 4px;
}

section#referencias{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#referencias > h2{
  flex: 0 0 100%;
}

#referencias > article{
  flex: 1 1 calc(33.333% - 1rem);
}

.contenedor {
  display: flex;
  align-items: center;
  gap: 1px;
}

button{
  width: 20%;
  margin-bottom: 7pt;
}

textarea{
  width: 80%;
  height: 6rem;
}

